$color-light: #e0e1dd;
$color-dark: #1c3144;
$color-gray: #596f62;
$color-orange: #fca311;
$color-blue: #39a0ed;

$font-family-primary: "Avenir", sans-serif;
$font-family-secondary: Georgia, "Times New Roman", Times, serif;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 500;
$font-weight-black: 900;
