#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.active {
  border: 1px solid red;
}

h1 {
  margin-bottom: 20px;
}

.custom {
  display: block;
  margin-bottom: 20px;
  width: 100%;
  border: none;
  background-color: transparent;
  font-size: 25px;
  &:focus {
    outline: none;
  }
}
