@use "../styles/variables.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

ul li {
  list-style-type: none;
}

input,
textarea,
select,
button {
  font: inherit;
}

button {
  cursor: pointer;
  border: none;
  color: inherit;
}

body {
  color: $color-black;
  font-size: 16px;
  font-family: $font-family;
  font-weight: $font-weight-normal;
  line-height: 1.5;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
  @media screen and (max-width: 1200px) {
    padding-inline: 15px;
  }
}
