body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(8, 12, 59);
  color: #229abf;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #229abf;
}

.game-info {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
}

.game-info span {
  display: flex;
  align-items: center;
  max-height: 100%;
}

.game-info span span {
  margin-left: 10px;
}

.reset {
  display: block;
  margin-top: 20px;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reset:hover {
  background-color: #0056b3;
}

.game-field {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 60px);
  grid-template-rows: repeat(3, 60px);
  padding: 1px 0 0 1px;
}

.game-winner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-winner p {
  margin-top: 10px;
  text-align: center;
}

.cell {
  border: 1px solid #229abf;
  margin: -1px 0 0 -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
}

.cell:disabled {
  background: rgba(194, 173, 173, 0.1);
  cursor: not-allowed;
}

.cell--win {
  background: goldenrod !important;
  color: #fff;
}

.symbol {
  font-size: 40px;
  line-height: 24px;
}

.symbol--x {
  color: red;
}

.symbol--o {
  color: green;
}